.filterSection {
    padding: 20px;
    /* background-color: #f9f9f9; */
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .filterItem {
    margin-bottom: 10px;
  }
  
  .filterItem label {
    display: flex;
    align-items: center;

  }
  
  .filterItem input {
    margin-right: 10px;
  }
  

  @media (max-width: 768px) {
    .filterItem label{
      font-size: 12px;
    }

    .filterSection{
      padding: 5px;
     
    }
  }