  
  .inputContainer {
    display: flex;
    align-items: center;
  }
  
  .input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #FE6E00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #005bb5;
  }
  
  .results {
    /* margin-top: 20px; */
    position: absolute;
    /* bottom: 0; */
    z-index: 10;
    background-color: #eaeaea;
    width: auto;
    /* padding: 10px 20px; */
  }
  
  .resultItem {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    
  }
  
  .resultItem:hover {
    background-color: #eaeaea;
  }
  

  @media (max-width: 768px) {
    .inputContainer {
      flex-direction: row;
    }
  
    .input {
      margin-bottom: 0;
      /* margin-right: 10px; */
      padding: 5px;
      width: 10%;
    }
  
    .button {
      width: auto;
     padding: 6.5px;
     font-size: 14px;
    }
  
    .results {
      width: auto;
    }
  }

  